/*Main styles*/

body {
    width: 100%;
    color: #8f8f8f;
    background-color: rgba(171, 171, 171, 0.06);
    border-top: 5px solid #7e7e7e;
    border-bottom: 5px solid #7e7e7e;
    margin: 0;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
}

#sectionMain {
    margin-left: 350px;
    padding-bottom: 1px;
 }

#section1 {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: inherit;
}

#section2 {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: inherit;
}

footer {
    margin-top: 100px;
    text-align: center;
}

#footer {
    color: #968e8e;
    border-top: 1px solid #dddddd;
    padding: 1px 0;
    font-size: 0.9em;
    margin-bottom: 0;
    font-style: italic;
}

#calculator * {
    font-size: 16px;
}

#calculator table {
    border: solid 3px #dddddd; border-spacing: 3px; background-color: #fafafa;
}

#calculator table td {
    border-spacing: 3px;
}

input.display {
    width: 166px; text-align: right;
}

td.buttons {
    border-top: solid 1px silver;
}

input[type= button] {
    width: 60px; height: 60px;
}

#tHistory.td {
    width: 20px;
}