/*Main styles*/

body {
    width: 100%;
    color: #8f8f8f;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
}

#sectionMain {
    margin-left: 350px;
    padding-bottom: 1px;
 }

#sectionReg {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: inherit;
}


footer {
    /*font-size: 13px;*/
    text-align: center;
}

#footer {
    /*max-width: 960px;*/
    /*margin: 100px;*/
    /*padding: 7px 0;*/
    /*height: 29px;*/
    background: #efe9e9;
    color: #968e8e;
    border-top: 1px solid #dddddd;
    padding: 1px 0;
    font-size: 0.9em;
    margin-bottom: 0;
    font-style: italic;
}